*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
  background-color: 
  #f4f8ff
}

li{
  list-style-type: none;
}

.main-content{
  margin:2rem;
}

.main-content > h1 {
  text-align: center;
  margin:2rem;
}

.product-listing{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.product-item{
  border: 1px solid gray;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
  border-radius: 15px;
  padding: 1rem;
  cursor: pointer;
  margin: 1rem;
  flex-basis: 30%;
  text-align: center;
  background-color: white;
}

.product-item:hover{
  box-shadow: 0 0 11px rgba(37, 153, 157, 0.2); 
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}

.product-img{
  max-width: 150px;
  width: 100%;
  height: 200px;
}

.category{
  text-decoration: underline;
}

.price{
  font-weight: bolder;
}

.price > span{
  text-decoration: line-through;
  font-weight: normal;
}

.product-item > p{
  font-size: 1.3rem;
  margin: 0.5rem;
}

.cart{
  display: flex;
  justify-content: center;
  gap:4rem;
  flex-wrap: wrap;
  margin: 3rem;
}

.cart >  *{
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
}

.cart-details {
  flex-basis: 50%;
  padding: 2rem;
}

.cart-details > li {
  margin-top: 1rem;
  border-bottom: 2px solid gray;
}

.cart-details img {
  max-width: 150px;
  height: 200px;
}

.cart-product{
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.cart-price-details{
  padding: 4rem;
  height: 20rem;
}

.cart-price-details p{
  width: 25rem;
  font-size: 1.5rem;
  line-height: 4rem;
  display: flex;
  justify-content: space-between;
}

.cart-desc{
  line-height: 1.5rem;
  margin-top: 2rem;
}

.btn{
  padding: 10px;
  background-color: white;
  font-weight: bolder;
  cursor: pointer;
  margin: 10px;
  border-radius: 0.2rem;
  border-color: #232f3e;
}

.btn-primary{
background-color: #384c54;
color: white;
} 

.btn[disabled]{
  background-color: #ccc;
  cursor: not-allowed;
}